body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.7),#181616), url(blogin.png);
    background-size: cover;
    background-position: center;
}
.darkcircle{
    width: 60%;
    border: 2PX solid goldenrod;
    padding: 100px;
    text-align: justify;
    margin: auto;
    height: auto;
    color: lightslategray;
}
.darkcircle h1{
    color: lightyellow;
    margin-bottom: 30px;
}
.pic{
    width: 30%;
    height: 30%;
    margin: auto;
}
a{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}
a:hover{
    background-color: wheat;
    color: black;
}

.round{
    border-radius: 50%;
    color: white;
}

